<div
  class="card-pokemon"
  *ngFor="
    let pokemon of allPokemon$
      | async
      | slice : (page - 1) * pageSize : page * pageSize
  "
>
  <form>
    <div class="card-pokemon__form-name">
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        value="{{ pokemon.name }}"
        aria-describedby="emailHelp"
        placeholder="Nome do pokemon"
        readonly
      />
    </div>
    <div class="card-pokemon__form-comment">
      <!-- <input
        type="text"
        value="{{ pokemon.description }}"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Comentários"
        readonly
      /> -->

      <button
        type="button"
        class="btn btn-warning"
        (click)="edit(pokemon.id)"
        [routerLink]="['edit', pokemon.id]"
      >
        Editar
      </button>
      <!-- <button
        type="button"
        class="btn btn-warning"
        (click)="delete(pokemon.id)"
      >
        Deletar
      </button>  -->
    </div>
  </form>
</div>

{{ pokeData.length }}

<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="70"
  ></ngb-pagination>
</div>
