<div class="container">
  <form [formGroup]="pokeForm">
    <div class="card-pokemon__form-name">
      <input
        type="text"
        for
        class="form-control"
        id="exampleInputEmail1"
        placeholder="Nome do pokemon"
        formControlName="name"
      />
    </div>
    <div class="card-pokemon__form-comment">
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Comentários"
        formControlName="comment"
      />

      <button
        type="card-pokemon__form-comment"
        class="btn btn-warning"
        (click)="editComments()"
      >
        Editar Comentários
      </button>
      <button type="button" class="btn btn-warning" (click)="back()">
        Voltar
      </button>
    </div>
  </form>
</div>
