.main-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 100px;
  height: 100px;
}

.navbar {
  max-height: 100px;
}

img {
  margin-bottom: 48px;
  margin-top: 48px;
  width: 238px;
}
